//main: theme.less
.fc-other-month{
	background-color: rgba(42, 47, 46, 0.02)!important;
	color: lightgray !important;
  font-size: 11px !important;
}

.fc th, .fc td{

  font-size: 14px;
  color: #fff;
  background-color: rgba(42, 47, 46, 0.4);
}

.fc td.fc-today{
  background-color: rgba(161, 60, 42, .5);
}
.fc-unthemed .fc-today{
  background-color: rgba(252, 175, 23, .9);
}
