//main: theme.less
 @iconpaciente: rgba(220, 223, 225, 0.9);

 .photo-perfil{
   width: 110px;
   height: 110px;
   border-radius: 50%;
   margin-top: 10px;
   margin-bottom: 10px;
 }

  .nav-list { border-bottom: 1px solid #eee; }

  .nav-list > li {
    padding: 20px 15px 15px;
    border-left: 1px solid #eee;
  }
  .nav-list > li:last-child { border-right: 1px solid #eee; }
  .nav-list > li > a:hover { text-decoration: none; }
  .nav-list > li > a > span {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
  }

  .mega-dropdown {
     position: static !important;
   }
  .mega-dropdown-menu {
    padding: 20px 15px 15px;
    text-align: center;
    width: 100%;
    background-color: rgba(255, 255, 255, .9)  !important;
  }
  .icono-buscar, .icono-editar, .icono-agregar{
    background-color: @iconpaciente;
  }
